.App {
  text-align: center;
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.dashboardContainer {
  display: inline-flex;
  width: 100%;
}

.marketMetricsContainer {
  width: 49%;
}

.jobsContainer {
  height: 80vh;
  width: 49%;
  overflow: auto;
}

.jobTitleAndLocation {
  display: inline-flex;
  width: 100%;
}

.title {
  width: 45%;
}

.location {
  width: 45%;
}

.jobSplit {
  display: inline-flex;
  width: 100%;
}

.companyAndType {
  width: 40%;
}

.dangerousDescription {
  width: 40%;
  height: 100%; 
  overflow: auto;
}
